<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <h1>
            404 PAGE DOESNT EXIST
        </h1>

        <nav>
            <div class="site-title">
                <a href="/"><h1> HomePage</h1> </a>
                <p>a blog by me pookie </p>
            </div>
            <ul>
                <li> <a href="/"> Blogs</a></li>
                <li> <a href="/about">About</a></li>
                <li> <a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="about content">
        </div>

            <%- include('./partials/footer.ejs') %>

    </body>
</html>