<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h3> about page</h3>
            <p> this is a story</p>
            <p> this is a story</p>
            <p> this is a story</p>
            <p> this is a story</p>
        </div>
            <%- include('./partials/footer.ejs') %>

    </body>
</html>